:root {
    --green-high: #96E292;
    --green-high-2: #C9F8C6;
    --green-mid: #86CD82;
    --green-dark: #76B672;
    --red-high: #EB6D53;
    --red-high-2: #FFE1DB;
    --red-mid: #D64A2E;
    --red-dark: #B14934;
    
    /* CINZA */
    --cinza-100: #F2F2F2;
    --cinza-200: #E6E6E6;
    --cinza-300: #CCCCCC;
    --cinza-400: #B3B3B3;
    --cinza-500: #999999;
    --cinza-600: #808080;
    --cinza-700: #666666;

    /* NEUTRO */
    --white: #FFFFFF;
    --black: 222222;

    /* SECUNDÁRIA */
    --secundaria-high: #496AFD;
    --secundaria-high-2: #859BFE;
    --secundaria-high-3: #DEE4FF;
    --secundaria-mid: #355AFD;
    --secundaria-dark: #3050DC;

    /* PRIMÁRIA */
    --primaria-mid: #FFCA37;
    --primaria-high: #FFD35C;
    --primaria-dark: #E4B531;

    /* FONTSIZE */
    --fontsize-xl: 46px;
    --fontsize-lg: 34px;
    --fontsize-md: 24px;
    --fontsize-sm: 16px;
    --fontsize-xs: 12px;
}

html, body {
    overflow-x: hidden;
    min-width: 100vw;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    font-family: Ubuntu, 'Open Sans', sans-serif;
    color: var(--black);
}

h1, h2, h3, p, a {
    color: var(--black);
    font-weight: 500;
    margin: 0;
}

h1 {
    font-size: var(--fontsize-lg);
}

h2 {
    font-size: var(--fontsize-md);
}

h3 {
    font-size: var(--fontsize-sm);
}

p {
    font-size: var(--fontsize-xs);
}

.cademint-header {
    background: var(--primaria-mid);
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 999;
}

.section {
    scroll-margin-top: 5rem;
}

.cademint-header-white {
    background: var(--white);
    border-bottom: 1px solid var(--cinza-200);
}

.cademint-logo {
    width: calc(8rem + 5vw);
    min-width: 10rem;
}

.nav-link {
    font-weight: 500;
    color: var(--black);
}

.nav-item {
    margin: 0 .5rem;
}

.nav-item:hover {
    color: var(--black);
    background: var(--primaria-dark);
}

.ml-0 {
    margin-left: 0 !important;
}

.btn {
    font-weight: 500;
    white-space: nowrap;
    margin: 0 .5rem;
}

.btn-outline-blue {
    border: 1px solid var(--secundaria-mid);
    color: var(--secundaria-mid);
}

    .btn-outline-blue:hover {
        border: 1px solid var(--secundaria-dark);
        background: var(--secundaria-dark);
        color: var(--white);
    }

.btn-blue {
    background: var(--secundaria-mid);
    color: var(--white);
}

    .btn-blue:hover {
        background: var(--secundaria-dark);
        color: var(--white);
    }

.support-text-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

    .support-text-header h6 {
        margin: 0;
    }

    .support-text-header i {
        margin-right: .5rem;
        font-size: 22px;
        color: var(--secundaria-mid)
    }

.support-text h3 {
    color: var(--cinza-700);
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 1000px;
    margin: 3rem auto;
}

.feature img {
    width: calc(10rem + 5vw);
    min-width: 250px;
    max-width: 500px;
}

.feature-image {
    margin-right: 3rem;
}

.feature-right .feature-image {
    margin-right: 0;
    margin-left: 3rem;
}

.feature-right .feature-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.feature-text {
    margin: 10px 0;
}

footer a {
    color: var(--black);
    text-decoration: none;
}

.about-title img {
    width: calc(10rem + 5vw);
    min-width: 200px;
    max-width: 500px;
}

.about-video {
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}

.about-video, .about-video img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-video video {
    width: 100%;
    display: none;
}

.about-video i {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    font-size: 3rem;
    cursor: pointer;
    color: var(--white);
    transition: all 0.4s;
    z-index: 3;
}

    .about-video i:hover {
        font-size: 3.5rem;
    }

.plan {
    border: 1px solid var(--cinza-200);
    border-radius: 5px;
    padding: 1.2rem;
    position: relative;
    overflow: hidden;
    margin: 1rem;
    min-width: 250px;
    max-width: 500px;
    width: calc(200px + 7vw);
    min-height: 500px;
}

.plan-name-label {
    background: var(--cinza-100);
    border: 1px solid var(--cinza-200);
    border-radius: 18px;
    padding: 3px 10px;
}

.plan-header button {
    margin: 0;
    width: 100%;
}

.plan-feature {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--cinza-200);
    padding: 10px 0;
}

    .plan-feature:last-child {
        border-bottom: none;
    }

    .plan-feature p {
        margin: 0;
    }

    .plan-feature i {
        margin-right: 10px;
    }

.plan.plan-free::after {
    content: '';
    display: block;
    width: 120px;
    height: 120px;
    background: var(--secundaria-high-2);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -30px;
}

.plan.plan-worker::after {
    content: '';
    display: block;
    width: 150px;
    height: 150px;
    background: var(--primaria-high);
    border-radius: 20px;
    position: absolute;
    top: -30px;
    right: -40px;
}

.plan.plan-custom img {
    position: absolute;
    top: 0;
    right: 0;
}

.most-popular {
    position: relative;
    width: fit-content;
    margin: 1rem;
    margin-top: 3rem;
}

.most-popular .plan {
    margin: 0;
    border-radius: 0 0 5px 5px;
    border: 1px solid var(--secundaria-mid);
}

.most-popular::before {
    content: "Mais popular";
    background: var(--secundaria-mid);
    color: var(--white);
    text-align: center;
    display: block;
    position: absolute;
    padding: 5px;
    top: -34px;
    left: 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.accordion {
    border: 1px solid var(--cinza-200);
    border-radius: 5px;
    padding: 1.5rem;
    margin: 2rem 0;
}

.accordion-title {
    font-weight: 700;
}

.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

    .accordion-header i {
        font-size: calc(1rem + 1vw);
        transition: transform 0.4s;
    }

.accordion-body {
    padding: 0;
    margin-top: 1rem;
    display: none;
}

    .accordion-body p {
        margin: 0;
    }

.footer {
    background: var(--primaria-mid);
}

.signature {
    display: flex;
    flex-direction: column;
}

    .signature p:first-child {
        font-weight: bold;
    }

    .signature p {
        margin: 0 0 3px 0;
    }

    .signature p:last-child {
        margin-bottom: 0;
    }

.social-links i {
    font-size: 2rem;
    cursor: pointer;
    margin: 0 5px;
    color: var(--secundaria-mid);
}

    .social-links i:hover {
        color: var(--secundaria-dark);
    }

.links p {
    font-weight: 600;
    margin-right: 15px;
}

@media (max-width: 768px) {
    .support-text {
        margin-bottom: 2rem;
    }

    .feature {
        flex-direction: column;
    }

    .cta-container > div:first-child {
        justify-content: center !important;
    }

    .cta-container {
        text-align: center !important;
    }

    main {
        /*padding-right: 1rem;*/
    }

    .home-buttons button {
        margin: .5rem .5rem .5rem 0;
    }
}

/* PÁGINA DE POLÍTICA DE PRIVACIDADE */

.icon-container {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secundaria-high-3);
    border-radius: 50%;
    margin: auto;
}

    .icon-container i {
        font-size: 1.6rem;
        color: var(--secundaria-mid)
    }

.privacy-policy-item, .terms-of-use-item {
    margin-bottom: 2.2rem;
}

.privacy-policy-item:last-child, .terms-of-use-item:last-child {
    margin-bottom: 0;
}

.privacy-policy-page, .terms-of-use-page {
    position: relative;
}

    .privacy-policy-page::before, .terms-of-use-page::before {
        content: '';
        width: 100vw;
        height: 40vh;
        min-height: 150px;
        max-height: 500px;
        background: var(--primaria-mid);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

.privacy-policy, .terms-of-use {
    background: var(--white);
    border: 1px solid var(--cinza-200);
    margin: 4rem auto;
    border-radius: 5px;
}